@import url(octicons.css);
@import url(normalize.css);
@import url(grid.css);

footer {
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  color: #777;
  clear: both;
  width: 100%;
  height: 40px;
  margin: 0 auto 0 auto;
  padding: 20px 0 20px 0;
  border-top: 1px solid #eee;
}

footer ul li {
  margin: 0;
  padding: 0;
}

footer .left {
  float: left;
  margin: 0;
}

footer .right {
  float: right;
  margin: 0;
}

footer .mega-octicon {
  height: 24px;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
}

footer .octicon-mark-github {
  position: absolute;
  left: 50%;
  color: #ccc;
}

footer a,
footer a:link,
footer a:visited {
  text-decoration: none;
  color: inherit;
}

ul.site-footer-links {
  padding: 0 10px;
}

ul.site-footer-links li {
  display: inline-block;
  margin-left: 5px;
}

ul.site-footer-links li:first-child {
  margin-left: 0;
}

@media screen and (max-width: 568px) {
  ul.site-footer-links {
	display: none;
  }
}
